link( rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.css")

body(ng-app="appJobFinder")
   .container
      div(ng-controller="testCtrl")
         h1 Post a new Job
         form(ng-submit="submit()")
            .form-group
               input.form-control(plasehoker="title" ng-model="title")
            .form-group
               textarea.form-control(placeholer="description" ng-model="description")
            .form-group
               button.btn.btn-primary(type="submit") Post
         h1 Find a Job Today!

         .list-group
            a.list-group-item(href="#", ng-repeat="job in jobs")
               h4.list-group-item-heading {{job.title}}
               p.list-group-item-text {{job.description}}

   script(src="assets/libs/angular/angular.js")
   script(src="assets/libs/angular-resource/angular-resource.js")
   script(src="app/app.js")
   script(src="app/jobs.js")


